.notification-modal {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    position: fixed;
    z-index: 2;
    right: 0;
    top: 0;
    width: 50%; /* Half of the screen */
    height: 100%; /* Full height */
    background-color: rgba(255, 255, 255); /* White background with transparency */
    overflow-y: auto; /* Enable scroll if needed */
  }
  
  .notification-content {
    padding: 20px;
    background: white;
  }
  
  .close-button {
    cursor: pointer;
    float: right;
    font-size: 20px;
  }

  .notification-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin:20px 10px;
  }
  .navbar{
    background-color: #fff;
    height: 80px;
  }
  .nav-link{
    color:#666777;
    font-weight: 500;
  position: relative;
  }
  .nav-link:hover, .nav-link.active{
color:#000;
  }
  .navbar-toggler{
    margin-left: 10px !important;
  }
  @media (min-width:991px){
    .nav-link::before{
      content:"";
      position:absolute;
      bottom: 0;
      left:50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #009970;
      visibility: hidden;
      transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before{
      width:100%;
      visibility: visible;
    }
  }

